.wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.title {
  margin: 0;
  font-size: 4.5rem;
  text-align: center;
  color: #f0f0f0;
}